.container{
   margin: 20px auto;
   max-width: 1000px;
   height: auto;
}
h1{
   padding-top: 35px;
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
}

h2{
   
   text-align: center;
   font-size: 20px;
   font-family: sans-serif;
}
body{
   margin: 0;
   padding: 0;
   font-size: 15px;
   font-family: sans-serif;
   background-color: rgb(235, 235, 235);
}
#main{
   float: right;
   box-sizing: border-box;
   width: 800px;
   height: 250px;
   padding-bottom: 20px;
}
p{
   font-size: 18px;
}
form{

   display: flex;
   justify-content: center;
   align-items: center;
}
#result{
   text-align: center;
}
#asterix{
   /* position: absolute;
   top: 0; */
 float: left;
   width: 200px;
   height: 200px;
   background-image: url(asterix.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
#romains{
   float: right;
   width: 400px;
   height: 200px;
   background-image: url(romain.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
#inputValue{
   width: 300px;
   height: 25px;
   padding: 5px;
   border-radius: 5px;
   border-style: none;

}
#submit{
   /* margin-left: 15px;
   border: solid 1px;
   padding: 5px 10px;
   border-radius: 5px; */
}
@media screen and (max-width : 1000px)
{
   .container{
      width: 100vw;
   }

   #asterix{
      width: 50%;
      height: 50vw;
      float: none;
      margin: 0 auto;
   }
   #main{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      float: none;
      height: 30%;
      padding-bottom: 10px;
   }
   form{
      flex-direction: column;
      align-items: center;
   }
   #romains{
      width: 80%;
      height: 50vw;
      margin: 0 auto;
      float: none;
   }
   p{
      font-size: 18px;
   }
   #inputValue{
      width: 80%;
      height: 25px;
      padding: 5px;
      margin: 20px 0;
   }
}